[Unit]
Description=Autostart service for xwayland-satellite
Requires=niri.service
After=niri.service


[Service]
Type=simple
ExecStart=env DISPLAY=:0 xwayland-satellite

[Install]
WantedBy=xdg-desktop-autostart.target
;   UNIT                         LOAD   ACTIVE SUB    DESCRIPTION
;   basic.target                 loaded active active Basic System
;   default.target               loaded active active Main User Target
;   graphical-session-pre.target loaded active active Session services which should run early before the graphical session is brought up
;   graphical-session.target     loaded active active Current graphical user session
;   paths.target                 loaded active active Paths
;   sockets.target               loaded active active Sockets
;   timers.target                loaded active active Timers
;   xdg-desktop-autostart.target loaded active active Startup of XDG autostart applications
;
; Legend: LOAD   → Reflects whether the unit definition was properly loaded.
;         ACTIVE → The high-level unit activation state, i.e. generalization of SUB.
;         SUB    → The low-level unit activation state, values depend on unit type.
;
; 8 loaded units listed. Pass --all to see loaded but inactive units, too.
; To show all installed unit files use 'systemctl list-unit-files'.
