[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    timeout 600  'niri msg action power-off-monitors' \
    timeout 660 'systemctl suspend' \
    before-sleep 'hyprlock'
Restart=always

[Install]
WantedBy=graphical-session.target
