; [Unit]
; Description=Idle manager for Wayland
; Documentation=man:swayidle(1)
;
; [Service]
; Type=simple
; ExecStart=/usr/bin/swayidle -w \
;     timeout 600  'niri msg action power-off-monitors' \
;     timeout 660 'pidof hyprlock || hyprlock' \
;     timeout 1200 'systemctl hibernate'
; Restart=always
;
; [Install]
; WantedBy=graphical-session.target
;
[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 601 'niri msg action power-off-monitors' timeout 600 'swaylock -f' before-sleep 'swaylock -f'
Restart=on-failure
