layout {
    background-color "transparent"

    focus-ring {
        active-color   "#90d5ae"
        inactive-color "#8a938c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#90d5ae"
        inactive-color "#8a938c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#90d5ae"
        inactive-color "#8a938c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#90d5ae80"
    }
}

recent-windows {
    highlight {
        active-color   "#005234"
        urgent-color   "#ffb4ab"
    }
}